{% load static %}


<!-- <h3>Hello World</h3>
<img src="{% static 'images/dipesh.jpg' %}"> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Dipesh Gyawali</title>
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
</head>
<body>

    <br>
    <div class="container"> <!--container le middle ma parxa -->
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/dipesh.jpg' %}">
                    <hr>
                    <h4>Hi I'm Dipesh!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My First Job as a Developer</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et reprehenderit provident, quibusdam nostrum facere ducimus voluptatum autem nobis exercitationem nesciunt cumque magnam ullam nisi enim alias officiis iste sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et reprehenderit provident, quibusdam nostrum facere ducimus voluptatum autem nobis exercitationem nesciunt cumque magnam ullam nisi enim alias officiis iste sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et reprehenderit provident, quibusdam nostrum facere ducimus voluptatum autem nobis exercitationem nesciunt cumque magnam ullam nisi enim alias officiis iste sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et reprehenderit provident, quibusdam nostrum facere ducimus voluptatum autem nobis exercitationem nesciunt cumque magnam ullam nisi enim alias officiis iste sunt.</p>
                
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/youtube.png' %}"></li>
                    </ul>
                
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100" >
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>Full stack developer at XYZ.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatum nam incidunt voluptate accusamus nostrum officia saepe ex quibusdam ad minima ipsam, delectus veritatis. Ipsum, debitis eum. Mollitia, eligendi earum.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I know</h5>
                    <hr>
                    <p>Python, Django, HTML/CSS, Bootstrap</p>
                    <p>PS: Working on Portfolio, To Do App, Blog and Ecommerce. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Build Ugly Protoypes First.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus asperiores, a excepturi veritatis neque sapiente saepe adipisci labore odit alias, nam dolorem quas cum sint minus at sit deleniti dolorum?</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam corrupti accusantium quo commodi adipisci ad beatae veritatis cumque nisi nesciunt nulla enim, esse veniam vitae minus praesentium suscipit. Vero, ea.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta cupiditate officiis illo sit maiores similique repellendus quos voluptates non id vitae dignissimos dolores molestiae sequi dolorum esse eligendi, modi nam.</p>
                </div>
            </div>
        </div>
        <br>
    </div>    
</body>
</html>




